@import url(https://fonts.googleapis.com/css?family=Lato:300,400);

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Full viewport height */
    margin: 0;
    font-family: Lato, sans-serif;
    background: #E5E5E5; /* Changed from #5b575a to a light gray */
}

.content {
    flex: 1 0 auto; /* this will make the content expand and take up any available space */
}

header {
    background: linear-gradient(#007BFF, #E5E5E5); /* Blue to light gray gradient */
    color: #333333; 
    padding: 20px;
    text-align: center;
}

footer {
    flex-shrink: 0;
    background: linear-gradient(#E5E5E5, #007BFF); /* Light gray to blue gradient */
    color: #333333; 
    padding: 20px;
    text-align: center;
    min-height: 80px;
}

main {
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    color: #333333; 
    background-color: #E5E5E5; /* Changed to light gray */
    box-shadow: 
        15px 0 15px -10px rgba(0, 0, 0, 0.5), 
        -15px 0 15px -10px rgba(0, 0, 0, 0.5),
        0px -10px 15px -10px #E5E5E5, 
        0px 10px 15px -10px #E5E5E5;
}

/* Underline Fade effect for links */
a {
    text-decoration: none;
    position: relative;
    display: inline-block;
    color: #333333; 
    overflow: hidden;
    transition: color 0.3s ease;
}

a:hover {
    color: #007BFF; /* Added a subtle blue color on hover for visual feedback */
}

a::before {
    content: "";
    position: absolute;
    width: 100%; 
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #333333; 
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease-in-out;
}

.link-wrapper::after {
    content: " | ";
    display: inline-block;
    margin-left: 5px; 
    margin-right: 5px; 
    color: #333333; /* Changed to almost black for better contrast */
}

.link-wrapper:last-child::after {
    content: "";
}

.link-wrapper:hover a::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 600px; /* This determines the height of the video. Adjust as needed */
    max-width: 1067px; /* This ensures the width never exceeds 16:9 aspect ratio given the height of 600px. (600 * 16/9) */
    margin: 0 auto;
    overflow: hidden;
}

.custom-video {
    width: 100%; /* Width will adjust to fit the container */
    height: 100%; /* It takes the full height of its parent, .video-container */
}

.transcript-container {
    margin: 20px auto; /* Added margin to top and bottom */
    border: 1px solid #ccc; 
    padding: 10px; 
    max-height: 300px; 
    overflow-y: auto; 
    background-color: #fff; 
    max-width: 1060px; /* Ensure it matches the video's width */
}
