{% extends 'base.html' %}

{% load static %}

{% block content %}



{% if user.is_authenticated %}

<style>
  /* Add your custom text styles here */
  .custom-text {
      font-size: 16px; /* Change font size */
      color: #928c8c; /* Change text color */
      font-weight: bold; /* Add bold text */
      text-transform: uppercase; /* Convert text to uppercase */
      letter-spacing: 2px; /* Adjust letter spacing */
  }
</style>
</head>
<body>
<div class="container text-center">
  <p class="custom-text">Select up to 5 entries to display on the map</p>
</div>
<style>
  .filters-container {
    border-top: 2px solid #000; /* Add a solid black border above the filters */
    border-bottom: 2px solid #000; /* Add a solid black border below the filters */
    padding: 10px; /* Add some padding to the filters container for spacing */
    margin-bottom: 20px;
    font-weight: bold;
  }
</style>

<form method="post" action="{% url 'home' %}">
  {% csrf_token %}
<div class="filters-container">
  <label><input type="checkbox" id="filter_water_rescue"> Water Rescue</label>
  <label><input type="checkbox" id="filter_mountain_rescue"> Mountain/Wilderness Rescue</label>
  <label><input type="checkbox" id="filter_disaster_rescue"> Disaster Rescue/Individual Tracking</label>
  <label><input type="checkbox" id="filter_reset"> Reset - returns unfiltered state</label>
  <button type="submit" class="btn btn-primary">Apply</button>
</div>

</form>


<div class="table-container" style="overflow: auto; max-height: 400px;">


<style>
  .table th, .table td {
      text-align: center; /* Center-align text in both headers and data cells */
  }
</style>

<table class="table table-hover table-hover table-bordered">
  <thead class="table-light">
    <tr>
      <th></th>
      <th scope="col" >age_upon_outcome</th>
      <th scope="col">animal_id</th>
      <th scope="col">animal_type</th>
      <th scope="col">breed</th>
      <th scope="col">color</th>
      <th scope="col">date_of_birth</th>
      <th scope="col">datetime</th>
      <th scope="col">monthyear</th>
      <th scope="col">name</th>
      <th scope="col">outcome_subtype</th>
      <th scope="col">outcome_type</th>
      <th scope="col">sex_upon_outcome</th>
      <th scope="col">location_lat</th>
      <th scope="col">location_long</th>
      <th scope="col">age_upon_outcome_in_weeks</th>

    </tr>
  </thead>
  <tbody>
    <tr>
      {% if shelter_model%}
      {% for shelter_model in shelter_model %}
      <tr>  
          <td><input type="checkbox" name="select_entry"></td>
          <td style="white-space: nowrap;">{{shelter_model.age_upon_outcome}}</td>
          <td style="white-space: nowrap;">{{shelter_model.animal_id}}</td>
          <td style="white-space: nowrap;">{{shelter_model.animal_type}}</td>
          <td style="white-space: nowrap;">{{shelter_model.breed}}</td>
          <td style="white-space: nowrap;">{{shelter_model.color}}</td>
          <td style="white-space: nowrap;">{{shelter_model.date_of_birth}}</td>
          <td style="white-space: nowrap;">{{shelter_model.datetime}}</td>
          <td style="white-space: nowrap;">{{shelter_model.monthyear}}</td>
          <td style="white-space: nowrap;">{{shelter_model.name}}</td>
          <td style="white-space: nowrap;">{{shelter_model.outcome_subtype}}</td>
          <td style="white-space: nowrap;">{{shelter_model.outcome_type}}</td>
          <td style="white-space: nowrap;">{{shelter_model.sex_upon_outcome}}</td>
          <td style="white-space: nowrap;">{{shelter_model.location_lat}}</td>
          <td style="white-space: nowrap;">{{shelter_model.location_long}}</td>
          <td style="white-space: nowrap;">{{shelter_model.age_upon_outcome_in_weeks}}</td>
      <tr>
      
      {% endfor%}
  {% endif %}
    </tr>
  </tbody>
</table>
</div>


{% else %}



<img src="{% static 'Animal_Shelter_website/pic_main.png' %}" class="rounded float-start" alt="Logo" width="600" height="600">

<br/>
<br/>
<br/>


<div class="col-md-6 offset-md-6">
    
    
    <h1>Login</h1>
    <br/>
    
    <form method="POST" action="{% url 'home' %}">
        {% csrf_token %}
      <div class="mb-3">
        <input type="text" class="form-control" name="username", placeholder="Username" required>
        
      </div><br/>
      <div class="mb-3">
        <input type="password" class="form-control" name="password", placeholder="Password" required>
      </div>
      <br/>
      <button type="submit" class="btn btn-secondary">Login</button>
    
    </form>
</div>

{% endif %}
{% endblock %}
